.panel-heading{
    position: relative;
    top: -45px;
}
.panel-body{
    position: relative;
   height: auto;
}
.panel-footer{
    position: relative;
    bottom: -70px;
}
.next_pos{
    position: relative;
    left: 450px;
}
